<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>人事管理服务平台</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="webjars/bootstrap/3.3.5/css/bootstrap.css">
</head>
<body>
<div class="topbg">
    <div class="topbg1">
        <div class="topbg2">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
<!--                    <td width="492"><img src="images/biao.jpg" width="492" height="73" /></td>-->
<!--                    <td><img src="images/top_01.jpg" width="7" height="77" /></td>-->
                    <td align="right" style="padding-right:10px;"><a href="#"></a> <a href="exit" class="redlink">【退出】</a><br />
                        <br /></td>
                </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
<!--                    <td width="11"><img src="images/menu1.jpg" width="11" height="32" /></td>-->
                    <td class="menu"><a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a></td>
<!--                    <td width="11"><img src="images/menu3.jpg" width="11" height="55" /></td>-->
                </tr>
            </table>
            <div></div>

        </div>
    </div>
</div>
<div class="main">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr valign="top">
            <td width="190"><iframe id="frameLeft" name="frameLeft" src="left" width="189" height="700" frameborder="0" scrolling="no"></iframe></td>
            <td class="right"><div class="tab">
            </div>
                <iframe id="framemain" name="framemain" src="content" width="100%" height="670" frameborder="0" scrolling="auto"></iframe></td>
        </tr>
    </table>
</div>
<div class="footer"></div>
</body>
</html>