<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>颐养中心</title>
    <link href="css/left.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="webjars/bootstrap/3.3.5/css/bootstrap.css">
</head>
<body >
<!--<img src="/images/top_01.jpg" style="position:fixed; left:0px; top:0px; width:100%; height:100%">-->
<style type="text/css" >
    body{

        background-image:url("/images/01.jpeg");
        background-left:0px;
        background-top:200px;
        background-position:center;


    }

</style>
    <div class="topbg1" >
        <div class="topbg2">
<table width="189" border="0" cellspacing="0" cellpadding="0" bgcolor="aqua">
    <tr>
    </tr>
    <tr>
        <td class="leftmenu"><ul id="navigation">
            <li><a href="#"></a>
                <ul>
                    <li><a href="#" target="framemain">客户管理</a>
                        <ul>
                            <li><a href="/customer" target="framemain">入住登记</a></li>
                            <li><a href="/checkout" target="framemain">退住登记</a></li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li><a href="#" target="framemain">床位管理</a>
                        <ul>
                            <li><a href="/bed" target="framemain">床位状况</a></li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li><a href="#" target="framemain">系统设置</a>
                        <ul>
                            <li><a href="/worker" target="framemain">工作人员管理</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul></td>
    </tr>
</table>
</body>
</html>
